body[data-banner-mode="none"] .page-banner[data-auto-banner] {
  display: none;
}

.icon-link,
.icon-btn,
.modal__close {
  position: relative;
}

.icon-link .icon-glyph,
.icon-btn .icon-glyph,
.modal__close .icon-glyph {
  pointer-events: none;
}
